{% import 'spoolmanager_tab_macros.jinja2' as forms %}

<span id="modal-dialogs-spoolManager" style="display:none" >

    <!--###############################################################  CSV Import Status-Dialog: id="dialog_spoolManager_csvImportStatus" -->
    {% include "spoolmanager_dialog_csvImportStatus.jinja2" %}

    <!--###############################################################  Spool EDIT Dialog: id="dialog_spool_edit" -->
    {% include "spoolmanager_dialog_editSpool.jinja2" %}

    <!--###############################################################  Spool SELECTION Dialog: id="dialog_spool_selection" -->
    {% include "spoolmanager_dialog_selectSpool.jinja2" %}

    <!--###############################################################  DatabaseConnectionProblem-Dialog: id="dialog_spoolManager_databaseConnectionProblem" -->
    {% include "spoolmanager_dialog_databaseConnectionProblem.jinja2" %}
</span>
